<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Add Book</title>

</head>
<body>
	<a href="/">
    <h1>Book Catalog</h1>
  </a>
  <form method='POST' enctype='multipart/form-data' action='/new'><h2>Add a new book</h2><input name='isbn' type='text' placeholder='ISBN' value="{{isbn}}"><input type='submit' value='Add'></form>
  <br>
  <form method='GET' enctype='multipart/form-data' action='/new/manual'><input type='submit' value='Add manually'></form>
  <br>
  {{error}}
</body>
</html>