<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />

  <title>Add Book</title>

</head>
<body>
	<a href="/">
    <img class="logo" src="../static/img/bookstobook_logo.svg" border="0" height="80" width="60">
  <form method='POST' enctype='multipart/form-data' action='/new'><h2>Add a new book</h2><input name='isbn' type='text' placeholder='ISBN' value="{{isbn}}"><input type='submit' value='Add'></form>
  <br>
  <form method='GET' enctype='multipart/form-data' action='/new/manual'><input type='submit' value='Add manually'></form>
  <br>
  {{error}}
</body>
</html>